= simple_form_for @dependent_mirror, url: update_dependet_path(ticket_id: @ticket, dependent_id: @dependent_mirror.id), method: :put, remote: true do |f|
  = f.input :name, input_html: { disabled: true }
  = f.input :cpf, input_html: { class: 'cpf', disabled: true }