.two.wide.mobile.column
  %a{href: "#{attendance.custom_custom_ticket_custom_dependents_path(@ticket)}"}
    %i.big.arrow.left.icon
.thirteen.wide.mobile.column.text-center
  .title-header Atendimento
  .sub-title Dependentes
  .divider
.ui.grid.container
  .column
    = render 'form'
