.content
  .description.text-center
    %h4
      %b Você tem certeza que deseja cancelar a atualização?
.actions
  .ui.aligned.center.text-center
    = link_to "Sim, eu desejo cancelar", ticket_delete_path(@ticket), class: 'ui button red'
    .ui.grau.deny.button Cancelar
  .divider