.ui.grid
  .column.text-center
    .big-divider
    .title-header 
      Atualizações (#{@tickets.count})
    .big-divider
.row
  .column
    %table.ui.celled.table
      %tbody
        - @tickets.each do |ticket|
          %tr
            %td
              %h4.ui.image.header
                .content
                  = link_to ticket.ticket_context.name.humanize, ticket_path(ticket)
                  .sub.header
                    .mini-divider
                      %p
                        #{ticket.ticket_status.name.humanize} - #{ticket.created_at.strftime("%d/%m/%Y - %H:%M")}