.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Minhas atualizações
    .sub-title Listagem de atualizações
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody.black
        - @tickets.order('created_at DESC').each do |ticket|
          %tr
            %td
              %h4.ui.image.header
                %i.small.refresh.icon.gray
                .content
                  = link_to ticket.context.name.humanize, ticket_path(ticket)
                  .sub.header
                    = ticket.situation.external_name
                    %p
                      %small
                        Criado em #{ticket.created_at.strftime("%d/%m/%Y - %H:%M")}
