.ui.grid
  .two.wide.mobile.column
    %a{href: "#{attendance.custom_custom_tickets_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atendimento
    .sub-title Dados básicos
    .divider
  .ui.grid
    .sixteen.wide.column
      - if !@cadastre_mirror.errors.any?
        #label.ui.label.blue{style: 'margin-bottom: 30px'}
          %p{style: 'text-align: justify; font-size: 14px !important'}
            Verifique seus dados básicos e atualize todos os campos.
            %br
            %br
            Se seu nome e/ou CPF estive divergente, procure um dos postos de atendimento da CODHAB mais próximo de sua residência no prazo de 5 dias.
            %a{href: '#'}
              Clique aqui.

      = render 'form'
