%fieldset
  .ui.buttons
    %label.button-file-upload.ui.gray.button.mini
      Toque para inserir o documento 
      = f.input :upload_path, as: :file, label: false, input_html: { onchange: 'validate_file(this);', class: 'inline'}
    = f.hidden_field :_destroy
    = link_to "<i class='remove icon'></i>".html_safe, '#', class: "remove_fields ui button black icon mini inline"
.divider