.big-divider
.ui.grid.container
  .column.text-center
    .title-header 
      Envio de documentação
      %small
        %p= link_to "Retonar para página anterior", :back

.big-divider
.ui.grid.container
  .column.content-form
    = render 'form'