.ui.grid
  .one.wide.mobile.column
    = link_to "<i class='big arrow left icon'></i>".html_safe, :back
  .thirteen.wide.mobile.column.text-center
    .title-header Envio de documentação
    .sub-title Formulário de envio de documentação
.big-divider
.ui.grid.container-fluid
  .column.content-form
    = render 'form'
