.ui.grid
  .sixteen.wide.mobile.column.text-center
    .title-header Envio de documentação
    .sub-title Formulário de envio de documentação
.big-divider
.ui.grid.container-fluid
  .column.content-form
    = render 'form'
