.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Dúvidas
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody.black
        = link_to 'Passo a passo','http://www.codhab.df.gov.br/uploads/archive/files/3b6b6f8a0fa81656a24673deeda2b0e1.pdf', download:true
        %br
        %br
        = link_to 'Documentos Necessários','http://www.codhab.df.gov.br/pagina/254', target:'_blank'
