.ui.grid
  .fifthteen.wide.mobile.column.text-center
    = image_tag ('/images/titulo_melhorias.png')
.divider
  %h2.melhorias_title.green_title
    = link_to "Iniciar Registro", new_pre_register_path, style: 'color: white'