.ui.grid
  .fifthteen.wide.mobile.column.text-center
.divider
.ui.three.column.grid.container.black
  .column
    .ui.text-center
      .btn-nav-codhab
        %a{href: "#"}
          -# %i.icon.calendar.huge.gray
          = image_tag ('/images/icone-postos.png')
    .text-center
      Postos
  .column
    .ui.text-center
      .btn-nav-codhab
        %a{href: melhorias_path}
          -# %i.icon.plane.huge
          = image_tag ('/images/icone-melhorias-habitacionais.png')
    .text-center
      Melhorias Habitacionais
  .column
    .ui.text-center
      .btn-nav-codhab
        %a{href: "#"}
          -# %i.icon.plane.huge
          = image_tag ('/images/icone-acoes-urbanas.png')
    .text-center
      Ações Urbanas Comunitárias
