.ui.grid
  .fifthteen.wide.mobile.column.text-center
    = image_tag ('/images/titulo_melhorias.png')
.divider
  .fifthteen.wide.mobile.colum.text-center
    %h2.melhorias_title.red_title
      o que é o programa?
    %h2.melhorias_title.orange_title
      quem pode participar?
    %h2.melhorias_title.yellow_title
      o que pode ser feito?
    %h2.melhorias_title.blue_title
      entenda as etapas
    %h2.melhorias_title.green_title
      = link_to 'Registro de Interesse', pre_registers_path, style: 'color: white'
