<!DOCTYPE html>
<html>
<head>
  <title>Technical assistance</title>
  <%= stylesheet_link_tag    "technical_assistance/application", media: "all" %>
  <%= javascript_include_tag "technical_assistance/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
