.big-divider
.ui.grid.container
  .column.text-center
    .title-header 
      Meu Requerimentos
      %small
        %p= link_to "Retonar para página de atualizações", candidate.root_path

.big-divider
.row
  .column
    %table.ui.celled.table
      %tbody
        %tr
          %td
            %b   
            %p.text-without-bold
              