.ui.grid
  .one.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Meus Requerimentos
    .sub-title Listagens de Requerimentos
.big-divider
.ui.grid.container-fluid
  .column
    %table.ui.celled.table
      %tbody.black
        %tr
          %td
            %h4.ui.image.header
              %i.small.user.icon.gray
              .content