%div{style: 'text-align: justify; padding: 25px;'}
  %p A entidade declara, para os devidos fins, que está ciente e em conformidade com todos os termos, condições Edital de Chamamento Público N° 02/2021, cujo objeto é manifestação de interesse – entidades (associações e ou cooperativas) credenciadas junto a – relativo a indicação de candidatos para a formação de demanda no projeto denominado alto mangueiral, localizado na área de 124,4871 hectares, inserida em parte dos lotes 6, 7, 8 e 9 da área Isolada Papuda.
  %br/
  %p Ao firmar o presente, o representante da entidade (cooperativa/associação) atesta perante a Companhia de Desenvolvimento Habitacional Do Distrito Federal – CODHAB, para todos os fins e efeitos, ter os poderes necessários e suficientes para validamente vinculá-la nos termos da declaração dada neste documento, conforme documentação em anexo, e que tais documentos estão regularmente em vigor e entregues neste ato à Companhia.
  %br/
  %p 
    %b 1. Do Objeto
  %p O objeto do presente procedimento é dar publicidade à intenção da CODHAB de convocar entidades (associações e ou cooperativas), credenciadas a esta empresa pública, interessadas em apresentar demanda de candidatos, compostas pelos seus respectivos associados/cooperados, afim de adquirir unidade imobiliária no projeto denominado ALTO MANGUEIRAL, localizado na área de 124,4871 hectares, inserida em parte dos lotes 6, 7, 8 e 9 da Área Isolada Papuda, observadas as diretrizes e premissas que orientam a indicação de candidatos, por entidades habitacionais, nos termos da legislação vigente e deste Edital. 
  %br/
  %p
    %b 2. Das Condições de Participação 

  %p Poderá participar deste procedimento, visando à apresentação de candidatos na oferta de unidades habitacionais, as cooperativas/associações credenciadas a CODHAB, que estiverem em dia com suas obrigações estatutárias e legais, assim como as financeiras frente a CODHAB.

  %p Parágrafo Único - Em obediência aos princípios da isonomia, imparcialidade e impessoalidade, serão destinadas a cada cooperativa/associação, o mesmo quantitativo de unidades habitacionais no empreendimento Alto Mangueiral.

  %br/
  %p 
    %b 3. Da Apresentação da Manifestação de Interesse e da Demanda de Candidatos

  %p A entidade (associação/cooperativa) se compromete, por esse ato, a somente apresentar candidatos (associados/cooperados) que atendam aos critérios da Lei 3877/2006, deste Edital e das demais legislações que versam sobre a política habitacional de interesse social.

  %br/
  %p
    %b 4. Das Vedações

  %p É vedado as cooperativas/associações habitacionais credenciadas CODHAB, bem como a seus representantes legais, membros da administração, diretoria ou de seus respectivos conselhos, utilizar-se de meios ou instrumentos de captação de demanda para as unidades habitacionais no referido empreendimento, inclusive:
  %br/
  %p a) utilizar-se de qualquer forma de Publicidade/divulgação com fins comercial;
  %p b) contratar qualquer tipo de serviço de intermediação, ainda que por profissionais de corretagem ou imobiliária, seja para captação de demanda ou comercialização de unidades habitacionais no referido empreendimento;
  %br/
  %p c) cobrar qualquer valor, joia, quota, taxa de inscrição ou admissão ou emolumento que não tenham previsão legal ou no estatuto das cooperativas/associações, ao qual o candidato participe como cooperado ou associado;
  %br/
  %p d) apresentar candidato que não se enquadre nos termos da Lei 3877/2006;
  %p e) apresentar candidato em número superior à cota destinada à respectiva associação/cooperativa. 

  %p Parágrafo Único - A entidade (cooperativa/associação), que não observarem o disposto nesse ato e na legislação vigente, serão descredenciados junto à CODHAB, e a(s) vaga(s) da entidade serão restituídas a esta Companhia para posterior redistribuição as demais associações e cooperativas, após observados o rito da ampla defesa e contraditório, sem prejuízo da aplicação das sanções cíveis e penais cabíveis. 

  %br/
  %p 
    %b 5. Do Prazo para Manifestação de Interesse e Apresentação de Demanda

  %p A entidade (cooperativa/associação) que neste ato adere a esse Termo, terá prazo de 180 (cento e oitenta) dias corridos, contados da data da publicação do edital nº 02/2021, para indicar de demanda das cotas a elas destinadas.

  %p Parágrafo Único – Caso esta entidade não conclua a indicação da demanda de candidatos para o projeto objeto do chamamento em epigrafe, no prazo de 180 (cento e oitenta) dias corridos, terá a(s) vaga(s) remanescente(s) restituídas a esta CODHAB para posterior redistribuição.

  %p As partes elegem a Circunscrição Judiciária de Brasília, Distrito Federal, para dirimir qualquer conflito acerca desse instrumento. 

  %p Para mais informações sobre a entrega da manifestação do ANEXO I do edital de chamamento 02/2021, acesse http://www.codhab.df.gov.br/pagina/178 e saiba mais.