<!DOCTYPE html>
<html>
<head>
  <title>Healty</title>
  <%= stylesheet_link_tag    "healty/application", media: "all" %>
  <%= javascript_include_tag "healty/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
