.ui.grid
  .one.wide.mobile.column
    %a{href: "#{recadastre_ticket_context_cadastre_path(@ticket, @context, @cadastre_mirror)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de Dados
    .sub-title Verificação de Dados Básicos

.big-divider
.ui.grid.container
  .column.content-form
    = render 'form'
