.ui.grid
  .one.wide.mobile.column
    %a{href: "#{ticket_path(@ticket)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização Cadastral
    .sub-title Formulário de edição de dados

.big-divider
.ui.grid.container
  .column.content-form
    = render 'form'