.header.text-center
  Atenção
.content{style: 'text-align: justify'}
  %p Declaro estar ciente da obrigatoriedade da atualização dos meus dados cadastrais junto à CODHAB sempre que ocorrer alteração de telefone, endereço, dependentes ou renda.
  %br
  %br
  %br
  = link_to "Ciente", custom_custom_ticket_term_one_path(@ticket), class: 'ui button green fluid'
