.header.text-center
  Atenção
.image.content
  .description{style: 'text-align: justify'}
    %p Responsabilizo-me civil e criminalmente pela veracidade dessas declarações e tenho conhecimento das penalidades existentes por falsa declaração, conforme dispõe o artigo 299 do Código Penal.
    %br
    = link_to "Ciente", custom_custom_ticket_term_three_path(@ticket), class: 'ui button green fluid'
