.header.text-center
  Atenção
.image.content
  .description{style: 'text-align: justify'}
    %p Declaro estar ciente de que, para participar dos programas habitacionais do Distrito Federal, em conformidade com os critérios estabelecidos na Lei nº 3.877/2006, resido no Distrito Federal há pelo menos 5 anos consecutivos, possuo renda inferior a 12 salários mínimos, não sou usufrutuário(a) de imóvel residencial do Distrito Federal e que não sou, nem nunca fui proprietário(a), promitente comprador(a) ou cessionário(a) de imóvel residencial no Distrito Federal.
    %br
    = link_to "Ciente", custom_custom_ticket_term_two_path(@ticket), class: 'ui button green fluid'
