.two.wide.mobile.column
  %a{href: "#{candidate.root_path}"}
    %i.big.arrow.left.icon
.thirteen.wide.mobile.column.text-center
  .title-header Atendimento
  .sub-title Processo de habilitação
  .divider
.ui.grid.container
%h2.text-center Bem-vindo ao Atendimento CODHAB
%p{style: 'text-align: justify'}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere ultrices metus, sed lobortis nunc aliquet quis. Integer condimentum justo at ullamcorper scelerisque. In et sagittis eros, nec rutrum arcu. Praesent sit amet egestas nibh. Aenean luctus molestie mi, quis dignissim felis bibendum quis. Etiam sed tellus magna. Proin et aliquam purus. Curabitur convallis dapibus velit. Aenean venenatis id urna nec placerat. Aliquam ullamcorper in diam id molestie. Nam vulputate dolor in enim mattis, sed sodales elit suscipit.
%br
%br
= link_to 'Iniciar meu atendimento', new_custom_custom_ticket_path, class: 'ui button yellow fluid', style: 'margin-left: 10px; margin-right: 10px; padding-top: 20px; padding-bottom: 20px; font-size: 20px', remote: true, data: { disable_with: 'Processando, aguarde...'}
