.two.wide.mobile.column
  %a{href: "#{candidate.root_path}"}
    %i.big.arrow.left.icon
.thirteen.wide.mobile.column.text-center
  .title-header Atendimento
  .sub-title Processo de habilitação
  .divider
.ui.grid.container
%h2.text-center Bem-vindo ao Atendimento CODHAB
%p{style: 'text-align: justify'}
  Você foi convocado a enviar suas documentações com vistas à habilitação no Programa Habitacional do Distrito Federal.
  %br
  %b Importante: As fotos dos documentos devem estar legíveis e devem representar o documento solicitado.

%br
%br
= link_to 'Iniciar meu atendimento', new_custom_custom_ticket_path, class: 'ui button yellow fluid', style: 'margin-left: 10px; margin-right: 10px; padding-top: 20px; padding-bottom: 20px; font-size: 20px', remote: true, data: { disable_with: 'Processando, aguarde...'}
