.ui.grid#custom
  - if @ticket.nil?
    - if [12,13].include?(current_cadastre.program_id)
      = render 'welcome_reallocation'
    - else
      = render 'welcome'
  - else
    - if [12,13].include?(current_cadastre.program_id)
      = render 'ticket_reallocation'
    - else
      = render 'ticket'
