.ui.grid#custom
  - if @ticket.nil?
    - if current_cadastre.program_id == 13
      = render 'welcome_reallocation'
    - else
      = render 'welcome'
  - else
    - if current_cadastre.program_id == 13
      = render 'ticket_reallocation'
    - else
      = render 'ticket'
