.ui.grid
  .two.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Manifestação de interesse ao Empreendimento
.ui.grid.container
  .column
    Manifestação registrada com sucesso!
    %br/
    %br/
    = link_to "Retornar para o início", root_path, class: 'ui button yellow fluid'
