.ui.grid
  .one.wide.mobile.column
    %a{href: "#{new_ticket_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de renda
    .sub-title frase

.big-divider
.ui.grid.container
  .column.content-form
    - if @ticket.closed?(@action)
      .text-center
        %p 
          %h2 Dados #{@action.situation.name.pluralize}
        %p
          %i.icon.checkmark.huge.green
    = render 'form'
    
