.ui.grid
  .one.wide.mobile.column
    %a{href: "#{recadastre_tickets_path(@ticket)}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Atualização de Dados
    .sub-title Verificação de Dados Básicos

.big-divider
.ui.grid.container
  .column.content-form
    = render 'disable_form'
