= simple_form_for @chat, url: chats_path, method: :post do |f|
  = f.association :chat_category, label: "Assunto", prompt: 'Selecione'
  .big-divider
  .column.text-center
    = f.submit "Prosseguir", class: 'ui button yellow fluid', data: { disable_with: t(:disable_with) }
