.ui.grid
  .one.wide.mobile.column
    %a{href: "#{candidate.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Notificações
    .sub-title Listagem de Notificações
.ui.grid.container
  .column
    %table.ui.celled.table
      %tbody.black
        - @notifications.order('created_at DESC').each do |notification|
          %tr{class: notification.read ? 'read' : 'not-read'}
            %td
              %h4.ui.image.header
                %i.small.user.icon.gray
                .content
                  %a{href: "#{notification_path(notification)}"}
                    #{notification.title}
                  .sub.header
                    #{notification.created_at.strftime("%d/%m/%Y - %H:%M")}