.ui.grid
  .one.wide.mobile.column
    %a{href: "#{notifications_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Notificações
    .sub-title Detalhamento de Notificação
.big-divider
.ui.grid.container

  .column
    .ui.raised.segment
      %a.ui.yellow.ribbon.label= @notification.created_at.strftime("%d/%m/%Y - %H:%M")
      %span
        .big-divider
        %h4
          %b= @notification.title
      .divider
      %p= @notification.message
      
