.ui.grid
  .one.wide.mobile.column
    %a{href: "#{notifications_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Notificações
    .sub-title Detalhamento de Notificação
.big-divider
.ui.grid.container-fluid
  .ui.grid
    .row
      .column.segment
        %h3= @notification.title
        = @notification.created_at.strftime("%d/%m/%Y - %H:%M")
    .divider
    .row
      .column.segment
        = @notification.content
