.ui.grid
  .one.wide.mobile.column
    %a{href: "#{notifications_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Notificações
    .sub-title Detalhamento de Notificação
.big-divider
.ui.grid.container
  %table.ui.celled.table.striped
    %tbody
      %tr
        %td
        %td
          %h3= @notification.title
          %small= @notification.created_at.strftime("%d/%m/%Y - %H:%M")
          %hr/
        %td
          %b Conteúdo
        %td
          = @notification.content