= simple_form_for @solicitation_document, url: solicitation_documents_path(@solicitation.id) do |f|
  = f.input :attachment, as: :file, label: 'Upload', input_html: { onchange: '$(this.form).submit();' }
