.ui.grid
  .two.wide.mobile.column
    %a{href: "#{root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Incluir arquivos
.big-divider
.ui.grid.container
  .column.content-form
    = render 'form'
