.ui.grid
  .one.wide.mobile.column
    %a{href: "#"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Envio de Documentação
    .sub-title Verificação de Dados Básicos

.big-divider
.ui.grid.container
  .column.content-form
    = render 'form'
