.ui.grid
  .two.wide.mobile.column
    %a{href: "#{entity.root_path}"}
      %i.big.arrow.left.icon
  .thirteen.wide.mobile.column.text-center
    .title-header Endreços Disponíveis
    .divider
.divider
.ui.grid.container
  .sixteen.wide.mobile.column.text-center.index-interest
    .content
      Quero participar do sorteio das seguintes áreas/lotes:
    = render 'index'
